/*Base Styling*/
body{
   background-color: lightgray;
}

/*Fonts*/
*{
  font-family:Arial, Helvetica, sans-serif;
}



/*rounded corners*/

.mainContainer{
  border-radius:25px;
  background-color: whitesmoke;

}

.header{
  border-radius:25px 25px 0px 0px;
  background-color: whitesmoke;
}

.footer{
  border-radius: 0px 0px 25px 25px;
  background-color: whitesmoke;
}

.blogname{
  border-radius:25px 0px 0px 0px;
  background-color: whitesmoke;
}

.menu{
  border-radius: 0px 25px 0px 0px;
  background-color: whitesmoke;
}


/*Structure - Small Screen Grid*/

.mainContainer{
    display: grid;
    width: 99%;
    min-height: 100vh;
    margin: auto;
    grid-template-columns: repeat(1fr, 7);
    grid-template-rows: 2vh repeat(minmax(auto, auto), 3);
    grid-gap:;
    grid-template-areas: 
    "hd hd hd hd hd hd hd"
    "c01 c01 c01 c01 c01 c01 c01"
    "c02 c02 c02 c02 c02 c02 c02"
    "ft ft ft ft ft ft ft";

  }

/*Structuring aid lines*/
.mainContainer{
  border: 2px dashed black;

}

.box {
  border: 1px dotted red;
  width: auto;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;

}

/* Named Content Boxes Grid Positioning */
.header{
  grid-area: hd;
  display: flex;
}

.content01{
  grid-area: c01;
  display: flex;
}

.content02{
  grid-area: c02;
  display: flex;
}

.footer{
  grid-area: ft;
  display: flex;
}

/*Header Contents*/

.blogname{
  height:;
  Width: 80%;
  margin: 0px;
  display: flex;
  align-items: center;

}
.menu{
  height: ;
  Width: 20%;
  margin: 0px;
  display: flex;
  align-items: center;
}

/*Content01 Contents*/

.content01{
  padding: 5px;
}

.content02{
  padding: 5px;
  flex-wrap: wrap;
}


/*Footer Contents*/
.copyright{
  height: ;
  Width: 20%;
  margin: 0px;
  display: flex;
  align-items: center;

}
.sociallinks{
  height: ;
  Width: 80%;
  margin: 0px;
  display: flex;
  align-items: center;
}


/*Element coloring*/
.blogname{
  background-color: slategray;
  color:white;
}

.menu{
  background-color: slategray;
  color:white;
}

.content01{
  grid-area: c01;
}

.content02{
  grid-area: c02;
}

.footer{
  background-color: slategray;
  color:white;
}

/*Blogpost Boxes*/
.postsm{
 border: 1px solid green;
 width: 33%;
 flex-grow: 1;
 align-items: stretch;
 padding: 5px; 
}

.postmd{

}
.postlg{

}

/*Hoovering Elements*/
.dropdown {
  position: relative;
  display: ;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:100%;
  left:;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}




  /* add css for nested grid here */
  
/*  #nestedgrid{
         display:grid;
        grid-template-columns: x% x%;
        grid-template-rows: x%  x% ;
        grid-gap: x%;	
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: *px style color;
    }
  } */
  
  /* Content Display Settings of Secondary Box Containers*/

  
  
  /* Content Display Settings of Tertiary Box Containers*/
  
  
  /* Screens over 900px */

/*  @media(min-width:900px){
  .mainContainer{
        display:grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 250px 600px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
        border: 2px dashed red;
    }
  }
*/

  /*Testing Area*/
