@media(min-width:900px){
    .mainContainer{
      display: grid;
      width: 99%;
      min-height: 100vh;
      margin: auto;
      grid-template-columns: repeat(1fr, 7);
      grid-template-rows: repeat(minmax(auto, auto), 4);
      grid-gap:;
      grid-template-areas: 
      "hd hd hd hd hd hd hd"
      "c01 c01 c01 c01 c01 c02 c02"
      "c01 c01 c01 c01 c01 c02 c02"
      "c01 c01 c01 c01 c01 c02 c02"
      "ft ft ft ft ft ft ft";
    }
}

@media(min-width:900px){
    .post-lg{
      display: grid;
      width: 99%;
      margin: auto;
      grid-template-columns: repeat(1fr, 7);
      grid-template-rows: repeat(minmax(auto, auto), 4);
      grid-gap: 10px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd"
      "cont cont cont cont cont cont aut"
      "cont cont cont cont cont cont aut"
      "gal gal gal gal gal gal gal";
    }

@media(min-width:900px){
    .card {
      max-width: 48%;
      border: 1px solid #C0C0C0;
      padding: 5px;    
      background-color: #C0C0C0;
      align-items: stretch;
      flex-grow: 1;
      margin-bottom: 1%;
    }
  }

  }